body{
	margin: 0;
	padding: 0;
}
ul{
	list-style: none; }
	li{
	font-size: 14px; }
a{
	color: #fa4c61;
}
h2{
	font-family: 'Ánton', sans-serif;
}
.logo{
	margin: 0;
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-73%);
	transform: translateY(-73%);
	left: 18.5rem;
    opacity: 0.9;
}
.container{
	background-image: url('../images/graphics-bg.png');
	font-family: 'PT serif', sans-serif;
	background-size: cover;
	margin: 0 auto;
	height: 100vh;
	width: 100%;
	position: fixed;
	color: #ffffff;
	padding: 26rem 0rem 0rem 0rem;
}
.multimedia{
	position: absolute;
	top: 50%;
	left: 53%;
	-ms-transform: translateX(-50%) translateY(-77%);
	-webkit-transform: translate(-50%,-77%);
	transform: translate(-50%,-77%);
}